description = "About Shot Info Partial"
==
<section class="about-shot-info section-sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mt-20">
                <h2 class="mb-3">We Create Designs<br> and technology</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat voluptate molestias, quaerat quo
                    natus dolor harum voluptatibus modi dicta ducimus.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum quae officia earum dolore est
                    quaerat cupiditate voluptatibus id, magni alias veniam voluptate, libero explicabo, distinctio
                    atque!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, fugit itaque ratione incidunt
                    voluptas. Quaerat quidem dolor, quisquam amet inventore quas adipisci ea sint qui placeat beatae
                    molestias aut, aperiam!
                </p>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
                <img loading="lazy" class="img-fluid" src="{{ 'assets/images/company/company-image.jpg'|theme }}" alt="">
            </div>
        </div>
    </div>
</section>